/**********************************************
    GENERAL
/**********************************************/
body {
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    padding-top: 50px
    color: #333;
}

h1 {
    font-size: 2.8rem; /* = 45px */   
    font-weight: 400 !important; 
    letter-spacing: 2px;
}

h2 {
    font-size: 1.8rem; /* = 29px */
    font-weight: 400 !important;
}

h3 {
    font-size: 1.5rem; /* = 24px */
    font-weight: 600 !important;
}

h4 {
    font-size: 1.125rem; /* = 18px */
    font-weight: 600 !important;
}

p {
    font-size: 1rem; /* = 16px */
    line-height: 24px;
}

a {
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 22px;
    text-decoration: none;
    color: #009999;
}

a:hover, a:focus {
    color: #009999;
    text-decoration: underline;
}

.btn {
    text-transform: uppercase;
    border-radius: 0;
}

a,
.btn, 
.active {
    -webkit-transition: .4s;
       -moz-transition: .4s;
        -ms-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
}



/**********************************************
    Topbar
/**********************************************/
#topbar {
    border-bottom: 1px solid #EE3333;
    background-color: #FFF;
}

.navbar {
    border-radius: 0;
}

.name {
    font-weight: 600;
    padding: 0 0 0 30px;
    background-repeat: no-repeat;
    background-image: url(../img/user.svg);
}

.btn-outline-warning {
    color: #D83D00;
    border-color: #D83D00;
    margin-top: 10px;
    margin-bottom: 10px; 
    letter-spacing: 0;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active {
    background-color: #D83D00 !important;
    border-color: #D83D00 !important;
    outline: none !important;
}



/**********************************************
    Sidebar
/**********************************************/
#sidebar {
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;    
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #F5EFE6;
    border-right: 1px solid #EE3333;
}

#sidebar .nav-item a {
    color: #333;
    border-bottom: 1px solid #EE3333;
}

#sidebar .nav-item a:hover,
#sidebar .nav-item a:focus{ 
    color: #D83D00;
}

.nav-pills .nav-link {
    padding: 20px 30px;
    border-radius: 0; 
}

.nav-stacked .nav-item+.nav-item {
    margin-top: 0;
}

.icon {
    position: relative;
    margin-right: 10px;
    bottom: 2px;
}



/**********************************************
    Main Content
/**********************************************/
#main {
    top: 90px;
    padding: 20px 30px;
}

#main .bg-success {
    background-color: #F9F4E8 !important;
}

#main h3  {
    font-weight: 400 !important;
}


/** Form **/
.form-control,
.has-warning .form-control {
    border: 1px solid #808080;
    border-radius: 0;
}

.form-group label {
    font-weight: 600;
}

.btn-primary {
    background-color: #D83D00;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #EE5500;
}

.list-group-item {
    border: 1px solid #808080;
    border-radius: 0 !important;
}
 
.has-warning .form-control-warning {
    background-image: url(../img/select_date.svg);
}

.form-signin {
    max-width: 380px;
    margin: 0 auto;
    padding: 10px 20px;
}


/** Tab **/
.nav-tabs {
    border-bottom: 1px solid #808080;    
}

.nav-tabs .nav-link {
    border-radius: 0;
    color: #333;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    color: #009999;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #808080;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus {
    border-top-color: #808080;
    border-right-color: #808080;
    border-left-color: #808080;
    color: #333;
}


/** Table **/
.table thead th {
    border-top: 0;
    border-bottom: 2px solid #808080;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #F9F4E8;
}

.table td, 
.table th {
    border-top: 0;
}


/** Calendar **/
.ui-datepicker {
    background-color: #D83D00;
    color: #FFF;
    width: 17rem;
    padding: .5rem;
    display: none;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3rem;
    text-align: center;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}

.ui-datepicker-prev, 
.ui-datepicker-next {
    background-repeat: no-repeat;
    background-position: center; 
    text-indent: -9999px;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.ui-datepicker-prev {
    float: left;
    background-image: url(../img/arrow_prev.svg);
}

.ui-datepicker-next {
    float: right;
    background-image: url(../img/arrow_next.svg);
}


.ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 .4rem;
}

.ui-datepicker th {
    padding: .7rem .3rem;
    text-align: center;
    font-weight: 600;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2rem;
    text-align: right;
    text-decoration: none;
    color: #FFF;
}

.ui-datepicker td a:hover,
.ui-datepicker td a:focus {
    background-color: #EE5500;
}



